<h1>Professor Information</h1>

<h2><%= @user.name %></h2>
<p>Office Hours: <%= @user.hours %><br>
Email address: <%= @user.email %><br>
<% if(@user.room) %>
	Office: <%= @user.room %> <br>
<% end %>

<% if(@user.exceptions) %>
	Exceptions: <%= @user.exceptions %> <br>
<% end %>

<% if(@user.website) %>
Website: <%= link_to @user.website, "http://" + @user.website, :target => "_blank" %>
<% end %>

</p>


