<h3>Home</h3>

<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
	<tr>
		<th> Professor </th>
		<th> Hours </th>
		<th> Exceptions </th>
	</tr>
	
	<% @users.each do |user| %>
  		<% if(user.usertype == "Professor") %>
  			<td> <%= user.name %> </td>
  			<td> <%= user.hours %> </td>
  			<td> <%= user.exceptions %> </td>
  		<% end %></p>
	<% end %>
